<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=foundProduct.name%>
    </title>
</head>

<body>
    <h1 style="text-transform: capitalize">
        <%=foundProduct.name%>
    </h1>
    <ul>
        <li>
            Price: $<%=foundProduct.price %>
        </li>
        <li>
            Category: <a href="/products?category=<%=foundProduct.categories%>">
                <%=foundProduct.categories%>
            </a>
        </li>
    </ul>
    <!--A link to return back to index.ejs by using that route /products-->
    <a href="/products">All Products</a>
    <a href="/products/<%=foundProduct._id%>/edit">Edit Products</a>

    <!--Need create a form to submit delete request-->
    <form action="/products/<%=foundProduct._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</body>

</html>